<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">
    <th:block th:fragment="content">

        <h1 class="mt-4">상품 수정</h1>

        <body>
        <div class="container">
            <form th:object="${dto}" method="post">
                <!-- id -->
                <input type="hidden" th:field="*{pno}"/>
                <div class="form-group">
                    <label th:for="title">상품명</label>
                    <input type="text" th:field="${dto.title}" class="form-control" name="title"  placeholder="이름을 입력하세요"/>
                </div>

                <div class="form-group">
                    <label th:for="stockQuantity">수량</label>
                    <input type="text" th:field="${dto.stockQuantity}"  class="form-control" name="stockQuantity" placeholder="상품 수량을 입력해주세요.">
                </div>


                <button type="submit" class="btn btn-primary">수정 완료</button>
            </form>

        </div>

        </body>

    </th:block>
</th:block>
</html>
